body {
    font-family: "Source Sans Pro", sans-serif;
    background-image: url("fondo.jpg");
    color:#281d33;
    background-repeat:repeat;
}

nav {
    height:7vh;
    background-color:#ebc5fc;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: flex-end;
    justify-items:space-around;
}
nav>img {
  padding:2px
}
button {
  background-color: #ff9fa3;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight:bold;
  border-radius:12px;

}

#fecha {
    float:right;
    font-weight:bold;
    margin:5px;
    border-width:2px
}

.ticket {
    background: linear-gradient(to bottom, #c9a6d9 17%, #8969ad 100%);
    padding:15px;
    border-radius:12px;
}
fieldset {
   border:solid #ebc5fc;
   background-color:#ebc5fc;
}
.contenido img{
    width: 20px
}
.margen_derecho {
    margin-left:275px;
}
.sidebar {
    font-family: "Source Sans Pro", sans-serif;

    position: absolute;
    width: 250px;
    height:100%;

    background: #8c6caf;
    color: rgb(237, 208, 250);
}
.sidebar h2 {
    text-align: center;
    padding: 10px;
    background: #775899
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;

}
.sidebar li {
    outline: 1px solid #7f5ea1;
}
.sidebar li:hover {
    background: #7f5ea1;
    border-left: 4px solid rgb(237, 208, 250);

}
.sidebar a {
    display:block;
    color: rgb(237, 208, 250);
    text-decoration: none;
    padding: 10px;
}
.menu-bar {
    width: 1000px
}
